#bar {
    width: 100%;
    text-align: left;
    
    padding: 0;
    margin: 0;
    
    border-bottom-color: darkgray;
    border-width: thin;
    border-bottom-style: solid;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: steelblue;
}
li {
    float: left;
    border-right-color: darkblue;
    border-right-style: solid;
    border-width: thin;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;

    font-size: 20;
    font-weight: bold;
}
li a:hover {
    background-color: lightsteelblue;
}
body {
    text-align: center;
    background-color: whitesmoke;

    height: auto;
    
    margin: 0%;
    padding: 0%;
}
#main {
    background-color: white;
    max-width: 700px;
    min-height: 89%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0%;

    padding: 15px;
    padding-top: 1px;
    padding-bottom: 10px;

    height: auto;

    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    border-style: hidden;
    border-bottom-style: hidden;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
    padding: 20px;
}
h1, h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}
h1 {    
    margin-bottom: 10px;
    font-size: 40;
}
h2 {
    padding-top: 0;
    margin-top: 0;
    
    color: darkgray;
    font-weight: lighter;
}
h3 {
    font-size: 25;
}
p {
    margin-top: 0;
    
    text-align: left;
    text-indent :2em;
    font-size: 20;
    line-height: 1.5;
}
img {
    float: left;
    
    padding: 0;
    
    margin: 10px;
    margin-left: 0;
    
    border-style: none;
    border-width: thin;
    border-color: darkgray;
}
a {
    text-decoration: none;
    color: black;
}
.project:hover {
    background-color: whitesmoke;
    
    border-radius: 5px;
}